@model user_panel.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container container-main">
    <div class="card-custom">
        <form asp-action="Login" method="post">
            <h4>Welcome Back!</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="form-floating mb-3">
                <input asp-for="EmailOrPhone" class="form-control" autocomplete="username" aria-required="true" placeholder="E-mail or Phone Number" />
                <label asp-for="EmailOrPhone"></label>
                <span asp-validation-for="EmailOrPhone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Log in</button>
            <div class="text-center mt-3">
                <a asp-action="Register">Don't have an account? Sign Up</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}